asgiref
autopep8
Brotli
cffi
cssselect2
Django
django-environ
flake8
fonttools
html5lib
mccabe
Pillow
pycodestyle
pycparser
pydyf
pyflakes
pyphen
six
sqlparse
tinycss2
tomli
tzdata
weasyprint
webencodings
zopfli==0.2.2
