{% extends "base.html" %}

<!-- Page title  -->
{% block title %}Update room type{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="container-fluid">
<div class="row align-center">
    <div class="card col-md-8">
        <div class="card-body">
            <form action="{% url 'rooms:room_types_update' room_type.id %}"  method="post">
                {% csrf_token %}
                <div class="form-row">

                    <div class="form-group col-md-8">
                        <label for="inputDescription">Name</label>
                        <input type="text" class="form-control" name="name" value="{{room_type.name}}" required>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <select name="state" class="form-control" required>
                            {% for status in room_type_status %}
                                {% if status.0 == room_type.status %}
                                <option value="{{status.0}}" selected>{{status.1}}</option>
                                {% else %}
                                <option value="{{status.0}}">{{status.1}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputDescription">Description</label>
                        <input type="text" name="description" class="form-control" value="{{room_type.description}}" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark btn-sm font-weight-bold">Update Room Type</button>

            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
